<div class="row">
  <div class="col-12">
    <h3 class="pt-3 pb-3">Режиссёры</h3>
  </div>
</div>
<div class="col-12">
  <div class="container">
    <div
      class="row content-block p-2 mb-2">
      <div class="col-3">
        <img src="assets/no-photo.png" class="img img-tubmnail">
      </div>
      <div class="col-9">
          <div class="col-9">
              <ul>
                <li><b>Имя: </b><a [routerLink]="['/films/directors/', 1]">Квентин Тарантино</a></li>
                <li><b>Годы жизни: </b>1960</li>
                <li><b>Страна: </b>США</li>
              </ul>
            </div>
      </div>
    </div>
  </div>
</div>