<ng-container *ngIf="film">
  <div class="row">
    <div class="col-12">
      <h3>{{ film.title }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img 
        class="rounded"
        [src]="film.logo">
    </div>
    <div class="col-8">
      <ul>
        <div class="row">
          <li class="col p-0">
            <b>Режиссёр: </b>{{ film.director.name + ' ' + film.director.surname }}
          </li>
          <li class="col p-0">
            <star-rating-comp [labelText]="'Рейтинг: '" [step]="0.1" [size]="'medium'" [starType]="'svg'" [rating]="2.63"></star-rating-comp>
          </li>
        </div>
        <div class="row">
          <li><b>Год: </b>{{ film.year }}</li>
        </div>
        <div class="row">
          <li><b>Жанры: </b>{{ film.genres.join(', ') }}</li>
        </div>
        <div class="row">
          <li><b>Тип: </b>{{ film.type ? 'Фильм' : 'Сериал' }}</li>
        </div>
        <div class="row">
          <li><b>Описание: </b>{{ film.description }}</li>
        </div>
      </ul>
      
    </div>
  </div>
  <h4 class="mt-3">Отзывы о фильме (3):</h4>
  <div 
    *ngFor="let comment of comments"
    class="card mt-3">
    <div class="card-header">
      <a [routerLink]="['/users', comment.commentedBy.id]">{{ comment.commentedBy.login }}</a>, {{ comment.date | date }}
    </div>
    <div 
      class="card-body"
      [style.backgroundColor]="(comment.commentType === -1) ? '#f7cfcf' : (comment.commentType === 0) ? 'white' : '#d7fbd7'">
      {{ comment.comment }}
    </div>
  </div>
  <form #f="ngForm" (submit)="addComment(comment.value, filmRating.value)">
    <div class="form-group">
      <label for="comment">
        <h4>Оставить отзыв:</h4>
      </label>
      <textarea
        ngModel
        #comment="ngModel" 
        class="form-control" 
        name="comment" 
        id="comment" 
        rows="5"></textarea>
    </div>
    <div class="from-group">
      <div class="form-check form-check-inline">
        <input
          ngModel
          #filmRating="ngModel"
          class="form-check-input" 
          type="radio" 
          name="rating-radio" 
          id="rating-like" 
          value="-1">
        <label class="form-check-label" for="rating-like">Фильм понравился</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          ngModel
          #filmRating="ngModel" 
          class="form-check-input" 
          type="radio" 
          name="rating-radio" 
          id="rating-middle" 
          value="0">
        <label class="form-check-label" for="rating-middle">Не могу определиться</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          ngModel
          #filmRating="ngModel"  
          class="form-check-input" 
          type="radio" 
          name="rating-radio"
          id="rating-dislike"
          value="1">
        <label class="form-check-label" for="rating-dislike">Фильм не понравился</label>
      </div>
    </div>
    <button type="submit"
      class="btn btn-primary">
      Сохранить
    </button>
  </form>
</ng-container>