<form class="form-signin text-center" #f="ngForm" (ngSubmit)="signIn(f.value)">
  <h1 class="h3 mb-3 font-weight-normal">
    Вход
  </h1>
  <label for="inputEmail" class="sr-only">
    Email-адрес
  </label>
  <input
    ngModel 
    type="email" 
    id="inputEmail"
    name="email" 
    class="form-control" 
    placeholder="Email-адрес" 
    required 
    autofocus>
  <label for="inputPassword" class="sr-only">
    Пароль
  </label>
  <input 
    ngModel
    name="password"
    type="password" 
    id="inputPassword" 
    class="form-control" 
    placeholder="Пароль" 
    required="">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Запомнить меня
    </label>
  </div>
  <div
    *ngIf="invalidLogin"
    class="alert alert-danger">
    Неверный логин или пароль.
  </div>
  <button 
    class="btn btn-lg btn-primary btn-block" 
    type="submit">
    Войти
  </button>
  <p>
    <a routerLink="/signup">Нет аккаунта? Зарегистрироваться!</a>
  </p>
</form>
