<div class="row">
  <div class="col-12">
    <h3>Квентин Тарантино</h3>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <img 
      class="rounded"
      src="assets/no-photo.png">
  </div>
  <div class="col-8">
    <ul>
      <div class="row">
        <li>
          <b>Имя: </b>Квентин
        </li>
      </div>
      <div class="row">
        <li>
          <b>Фамилия: </b>Тарантино
        </li>
      </div>
      <div class="row">
        <li>
          <b>Год рождения: </b>1960
        </li>
      </div>
      <div class="row">
        <li>
          <b>Страна: </b>США
        </li>
      </div>
      <div class="row">
        <li>
          <b>Всего фильмов: </b>45
        </li>
      </div>
    </ul>
    
  </div>
</div>