<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
  <a class="navbar-brand" routerLink="" href="#">Akimedia</a>
  <button (click)="isNavbarCollapsed = !isNavbarCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Фильмы</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="films">Все фильмы</a>
          <a class="dropdown-item" routerLink="films/directors">Режиссёры</a>
          <a class="dropdown-item" routerLink="films/add">Добавить фильм</a>
          <a class="dropdown-item" routerLink="films/directors/add">Добавить режиссёра</a>
        </div>
      </li>
      <li routerLinkActive="active" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Книги</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" routerLink="books">Все книги</a>
          <a class="dropdown-item" routerLink="books/authors">Писатели</a>
          <a class="dropdown-item" routerLink="books/add">Добавить книгу</a>
          <a class="dropdown-item" routerLink="books/authors/add">Добавить писателя</a>
        </div>
      </li>
      <li routerLinkActive="active" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Музыка</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" routerLink="music">Вся музыка</a>
          <a class="dropdown-item" routerLink="music/composers">Композиторы</a>
          <a class="dropdown-item" routerLink="music/add">Добавить произведение</a>
          <a class="dropdown-item" routerLink="music/composers/add">Добавить композитора</a>
        </div>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="authService.isLoggedIn()">
        <a [routerLink]="['users', authService.currentUser.id]" class="nav-link">{{ authService.currentUser.name }}</a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" routerLinkActive="active" class="nav-item">
        <a routerLink="login" class="nav-link">Войти</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item">
        <a (click)="authService.logout()" class="nav-link">Выйти</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
</nav>
