<div class="alert alert-info row" role="alert">
  <h3 class="col-12">Здравствуйте, Лилия Сергеевна.</h3>
  <div class="col-12">Сделал главную страницу, исправил страницу пользователя</div>
  <div class="col-12">Примите, пожалуста, мою работу.</div>
  <div class="col-12">Для теста авторизации email:
    <span style="color: red">admin@gmail.com</span>, пароль:
    <span style="color: red">1111</span>
  </div>
</div>
<div class="container">
  <div class="row pt-3 pb-3">
    <h3>Последние добавленные</h3>
  </div>
  <div class="row slider text-center justify-content-center">
    <carousel-component autoPlay="true" delayAutoPlay="10000" morePairSlides="1">
      <div class="item-carousel">a</div>
      <div class="item-carousel">
        <div class="b">
          <a class="img-link" routerLink="/films/0" href="#"><img src="assets/inception.jpg"></a>
        </div>
      </div>
      <div class="item-carousel">c</div>
      <div class="item-carousel">d</div>
    </carousel-component>
  </div>
</div>
<div class="container mt-3 mb-2">
  <div class="row">
    <h3 class="col-12 text-center">Самое популярное</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <h4 class="text-center">Фильмы</h4>
      <table class="col-12 table">
        <thead>
          <tr>
            <th>Место</th>
            <th>Фильм</th>
            <th>Средняя оценка</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <a routerLink="#">Форрест Гамп</a>
            </td>
            <td>9.4</td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <a routerLink="#">Зелёная миля</a>
            </td>
            <td>9.2</td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <a routerLink="#">Бойцовский клуб</a>
            </td>
            <td>9.0</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-lg-4">
      <h4 class="text-center">Книги</h4>
      <table class="col-12 table">
        <thead>
          <tr>
            <th>Место</th>
            <th>Фильм</th>
            <th>Средняя оценка</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <a routerLink="#">Форрест Гамп</a>
            </td>
            <td>9.4</td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <a routerLink="#">Зелёная миля</a>
            </td>
            <td>9.2</td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <a routerLink="#">Бойцовский клуб</a>
            </td>
            <td>9.0</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-lg-4">
      <h4 class="text-center">Музыка</h4>
      <table class="col-12 table">
        <thead>
          <tr>
            <th>Место</th>
            <th>Фильм</th>
            <th>Средняя оценка</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <a routerLink="#">Форрест Гамп</a>
            </td>
            <td>9.4</td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <a routerLink="#">Зелёная миля</a>
            </td>
            <td>9.2</td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <a routerLink="#">Бойцовский клуб</a>
            </td>
            <td>9.0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
