<div class="row">
        <div class="col-12">
          <h3>Александр Пушкин</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img 
            class="rounded"
            src="assets/no-photo.png">
        </div>
        <div class="col-8">
          <ul>
            <div class="row">
              <li>
                <b>Имя: </b>Александр
              </li>
            </div>
            <div class="row">
              <li>
                <b>Фамилия: </b>Пушкин
              </li>
            </div>
            <div class="row">
              <li>
                <b>Год рождения: </b>1799
              </li>
            </div>
            <div class="row">
              <li>
                <b>Год смерти: </b>1837
              </li>
            </div>
            <div class="row">
              <li>
                <b>Страна: </b>Россия
              </li>
            </div>
            <div class="row">
              <li>
                <b>Всего книг: </b>45
              </li>
            </div>
          </ul>
          
        </div>
      </div>