<div class="row">
  <div class="col-12">
    <h3 class="pt-3 pb-3">Книги</h3>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-4">
    <search productType="book"></search>
  </div>
  <div class="col-12 col-lg-8">
      <div class="container">
        <div 
          *ngFor="let book of books" 
          class="row content-block p-2 mb-2">
          <div class="col-3">
            <img [src]="book.logo" class="img img-tubmnail">
          </div>
          <div class="col-9">
            <ul>
              <li><b>Название: </b><a [routerLink]="['/books', book.id]">{{ book.title }}</a></li>
              <li><b>Автор: </b>{{ book.author.name + ' ' + book.author.surname }}</li>
              <li><b>Описание: </b>{{ book.description }}</li>
            </ul>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link active" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
  </div>
</div>
