<div class="row">
  <div class="col-12">
    <h3>Пётр Чайковский</h3>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <img 
      class="rounded"
      src="assets/no-photo.png">
  </div>
  <div class="col-8">
    <ul>
      <div class="row">
        <li>
          <b>Имя: </b>Пётр
        </li>
      </div>
      <div class="row">
        <li>
          <b>Фамилия: </b>Чайковский
        </li>
      </div>
      <div class="row">
        <li>
          <b>Год рождения: </b>1840
        </li>
      </div>
      <div class="row">
        <li>
          <b>Год смерти: </b>1893
        </li>
      </div>
      <div class="row">
        <li>
          <b>Страна: </b>Россия
        </li>
      </div>
      <div class="row">
        <li>
          <b>Всего произведений: </b>205
        </li>
      </div>
    </ul>
    
  </div>
</div>